<nz-content>
  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-page-header nzTitle="ผู้ป่วย"></nz-page-header>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="24">
      <nz-card>
        <div nz-row>
          <div nz-col nzSpan="12" class="text-right">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input
                type="text"
                nz-input
                placeholder="ค้นหา"
                [(ngModel)]="searchValue"
                (ngModelChange)="onSearchChange($event)"
              />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search"></i>
            </ng-template>
          </div>
          <div nz-col nzSpan="12" class="text-right">
            <button
              nz-button
              nzType="primary"
              [nzSize]="size"
              nzShape="round"
              (click)="showModal()"
            >
              <i nz-icon nzType="plus-circle"></i>เพิ่มผู้ป่วย
            </button>
            <!-- <button nz-button nzType="danger" [nzSize]="size" nzShape="round">
              <i nz-icon nzType="minus-circle"></i>ลบผู้ป่วย
            </button> -->
          </div>
        </div>
        <nz-divider></nz-divider>
        <nz-table
          #rowSelectionTable
          nzShowSizeChanger
          [nzData]="memberData"
          (nzPageSizeChange)="pageSizeChange($event)"
          [nzSize]="middle"
          [nzLoading]="isLoading"
          [nzFrontPagination]="false"
          [nzTotal]="pageTotal"
          (nzPageIndexChange)="pageChange($event)"
          (nzCurrentPageDataChange)="currentPageDataChange($event)"
        >
          <thead (nzSortChange)="onSort($event)" nzSingleSort>
            <tr>
              <th nzShowSort nzSortKey="hn">HN</th>
              <th nzShowSort nzSortKey="name">ชื่อ-สกุล</th>
              <th nzShowSort nzSortKey="address">ที่อยู่</th>
              <th nzShowSort nzSortKey="birtdate">วันเดือนปี เกิด (อายุ)</th>
              <th nzShowSort nzSortKey="disease">โรคประจำตัว</th>
              <th nzShowSort nzSortKey="allegric">แพ้ยา</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
              <td>{{ data.hn }}</td>
              <td>{{ data.name }}</td>
              <td>{{ data.address }}</td>
              <td>{{ displayBirtDate(data.birtdate) }}</td>
              <td>{{ data.disease }}</td>
              <td>{{ data.allegric }}</td>
              <td>
                <button
                  nz-button
                  nzType="primary"
                  [nzSize]="size"
                  nzShape="round"
                  nzGhost
                  (click)="showModal(data)"
                >
                  <i nz-icon nzType="edit"></i>แก้ไข
                </button>
                <!-- <nz-divider nzType="vertical"></nz-divider> -->
                <button
                  nz-button
                  nzType="danger"
                  [nzSize]="size"
                  nzShape="round"
                  nzGhost
                  (click)="deleteMember(data.hn)"
                >
                  <i nz-icon nzType="delete"></i>ลบ
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <div class="search-box">
            <input
              type="text"
              nz-input
              placeholder="Search name"
              [(ngModel)]="searchValue"
            />
            <button
              nz-button
              nzSize="small"
              nzType="primary"
              (click)="search()"
              class="search-button"
            >
              Search
            </button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
          </div>
        </nz-dropdown-menu>
      </nz-card>
    </div>
  </div>
</nz-content>

<ng-template #titleModal>
  <ng-container *ngIf="!this.form.get('hn').value; else elseTemplate">
    <i nz-icon nzType="plus-circle"></i> เพิ่มผู้ป่วย
  </ng-container>
  <ng-template #elseTemplate>
    <i nz-icon nzType="edit"></i> แก้ไขผู้ป่วย
  </ng-template>
</ng-template>

<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="titleModal"
  (nzOnCancel)="handleCancel()"
  [nzWidth]="1080"
>
  <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="hn">HN</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="hn"
          formControlName="hn"
          placeholder="HN"
          [disabled]="true"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired
        >ชื่อ-สกุล</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="กรอก ชื่อ-สกุล">
        <input
          nz-input
          id="name"
          formControlName="name"
          placeholder="ชื่อ-สกุล"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="address"
        >ที่อยู่</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="address"
          formControlName="address"
          placeholder="ที่อยู่"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birtdate"
        >วันเดือนปีเกิด</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker
          id="birtdate"
          formControlName="birtdate"
        ></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="disease"
        >โรคประจำตัว</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="disease"
          formControlName="disease"
          placeholder="โรคประจำตัว"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="allegric"
        >แพ้ยา</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          nz-input
          id="allegric"
          formControlName="allegric"
          placeholder="แพ้ยา"
        />
      </nz-form-control>
    </nz-form-item>
  </form>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">
      ยกเลิก
    </button>
    <button
      nz-button
      nzType="primary"
      (click)="submitForm()"
      [nzLoading]="isOkLoading"
    >
      ตกลง
    </button>
  </div>
</nz-modal>
